<div class="row">
  <div class="col-xs-12 couple-container">
    <!-- Title 1 -->
    <h1 class="title1 couple-title1 title1-border">Our Pictures</h1>
    <!-- /Title 1 -->
    <!-- Gallery -->
    <div class="row-fluid pic_gallery">
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('cake.jpg')%>" alt="">
            <div class="picture-legend">Thank you!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('ring.png')%>" alt="">
            <div class="picture-legend">Our rings!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="<%=asset_path('i1.jpg')%>" >
            <img src="<%=asset_path('i1.jpg')%>" alt="">
            <div class="picture-legend">Home! Sweet Home..</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('manju2.png')%>" alt="">
            <div class="picture-legend">Blessed!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item <-->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('p3.jpg')%>" alt="">
            <div class="picture-legend">Family Time!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->

      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('manju.jpg')%>" alt="">
            <div class="picture-legend">Together forever!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->

      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('p2.jpg')%>" alt="">
            <div class="picture-legend">Family Time!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('p5.jpg')%>" alt="">
            <div class="picture-legend">Fun Time!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="<%=asset_path('p7.jpg')%>" >
            <img src="<%=asset_path('p7.jpg')%>" alt="">
            <div class="picture-legend">The Gang..!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('i2.jpg')%>" alt="">
            <div class="picture-legend">Sweet!!!!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('i3.jpg')%>" alt="">
            <div class="picture-legend">Joining Hands Soon..!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('i4.jpg')%>" alt="">
            <div class="picture-legend">Sweet Home..</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('i5.jpg')%>" alt="">
            <div class="picture-legend">Blessed!</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="col-sm-3">
        <div class="cont">
          <a href="javascript:void(0);" >
            <img src="<%=asset_path('i6.jpg')%>" alt="">
            <div class="picture-legend">Gang of Girls..</div>
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!-- /item -->
    </div>
    <!-- /Gallery -->
  </div>
</div>

<style type="text/css">
  .pic_gallery img{
    width: 100%;
  }

  .pic_gallery .cont{
    background: #fff;
    padding:10px;
    overflow: auto;
  }

  .pic_gallery .col-sm-3{
    margin-top: 15px;
  }
  .pic_gallery .picture-legend{
    color:#000;
  }

  .ceremony-item{
    border: 1px dashed #fff;
    margin-bottom: 15px;
  }

  .about-item{
    border: 1px dashed #fff;
    margin-bottom: 15px;
  }
</style>
