<div class="row">
  <div class="col-xs-12 couple-container">
    <!-- Title 1 -->
    <h1 class="title1 couple-title1 title1-border">Our Pictures</h1>
    <!-- /Title 1 -->
    <!-- Gallery -->
    <div id="mansonry" class="row gallery-wrapper" style="position: relative;">
      <!-- item -->
      <div class="mansonry-item col-sm-3" style="position: absolute; left: 0px; top: 0px;">
        <a href="<%=asset_path('cake.jpg')%>" data-lightbox-gallery="gallery1">
          <img src="<%=asset_path('cake.jpg')%>" alt="">
          <div class="picture-legend">We love cakes!</div>
          <div class="mask"></div>
        </a>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="mansonry-item col-sm-3" style="position: absolute; left: 243px; top: 0px;">
        <a href="<%=asset_path('p1.jpeg')%>" data-lightbox-gallery="gallery1">
          <img src="<%=asset_path('p1.jpeg')%>" alt="">
          <div class="picture-legend">Home! Sweet Home..</div>
          <div class="mask"></div>
        </a>
      </div>
      <!-- /item -->
      <!-- item <-->
      <div class="mansonry-item col-sm-3" style="position: absolute; left: 487px; top: 0px;">
        <a href="<%=asset_path('p3.jpeg')%>" data-lightbox-gallery="gallery1">
          <img src="<%=asset_path('p3.jpeg')%>" alt="">
          <div class="picture-legend">Family Time!</div>
          <div class="mask"></div>
        </a>
      </div>
      <!-- /item -->

      <!-- item -->
      <div class="mansonry-item col-sm-3" style="position: absolute; left: 731px; top: 0px;">
        <a href="<%=asset_path('p2.jpeg')%>" data-lightbox-gallery="gallery1">
          <img src="<%=asset_path('p2.jpeg')%>" alt="">
          <div class="picture-legend">Family Time!</div>
          <div class="mask"></div>
        </a>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="mansonry-item col-sm-3" style="position: absolute; left: 0px; top: 0px;">
        <a href="<%=asset_path('p5.jpeg')%>" data-lightbox-gallery="gallery1">
          <img src="<%=asset_path('p5.jpeg')%>" alt="">
          <div class="picture-legend">Fun Time!</div>
          <div class="mask"></div>
        </a>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="mansonry-item col-sm-3" style="position: absolute; left: 0px; top: 0px;">
        <a href="<%=asset_path('p7.jpeg')%>" data-lightbox-gallery="gallery1">
          <img src="<%=asset_path('p7.jpeg')%>" alt="">
          <div class="picture-legend">The Gang..!</div>
          <div class="mask"></div>
        </a>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="mansonry-item col-sm-3" style="position: absolute; left: 243px; top: 0px;">
        <a href="<%=asset_path('engagement.jpg')%>" data-lightbox-gallery="gallery1">
          <img src="<%=asset_path('engagement.jpg')%>" alt="">
          <div class="picture-legend">Our engagement ring</div>
          <div class="mask"></div>
        </a>
      </div>
      <!-- /item -->
    </div>
    <!-- /Gallery -->
  </div>
</div>
