<!-- Main Content
================================================== -->
<div id="body" class="viewport animated">
  <div class="container">
    <div class="boxed-content">
      <!-- Header -->
      <header id="header" class="navbar navbar-default navbar-static-top" >
        <div class="clearfix">
            <!-- logo -->
            <div class="hd-logo">
              <a href="index.html">
                <%=image_tag "logo_small.png"%>
              </a>
            </div>
            <!-- /logo -->
            <!-- responsive menu -->
            <!-- /responsive menu -->
            <!-- menu -->
            <div class="pause_cont">
              <%=image_tag "speaker.png",:style=>"width:60px;",:class=>"speaker",:spk=>"#{asset_path('speaker.png')}",:mute=>"#{asset_path('speaker_mute.png')}"%>
            </div>
            <!-- /menu -->
        </div>
      </header>
      <!-- /header -->
      <!-- content -->
      <div class="page-content page-home">
        <!-- home logo -->
        <div class="row">
          <div class="home-logo col-sm-8 col-sm-offset-2">
            <p class="couple-title" style="font-size:50px;">Manju & Deshi</p>
          </div>
        </div>
        <!-- /home-logo -->
        <!-- Countdown container -->
        <div class="row">
          <div class="countdown-container">
            <!-- icon -->
            <div class="countdown-icon">
              <%=image_tag "ico-heart2.png"%>
            </div>
            <!-- /icon -->
            <!-- countdown title top -->
            <h2 class="countdown-title countdown-title1"><span class="countdown-title-borders">November 03, 2019 <br> Kurunji Janaki Venkataramana Sabha Bhavana, Sullia</span></h2>
            <!-- /countdown title top -->
            <!-- countdown ( Edit it on main.js )-->
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <div id="countdown" class="row"></div>
              </div>
            </div>
            <!-- /countdown -->
            <!-- countdown title bot -->
            <h3 class="countdown-title countdown-title2"><span class="countdown-title-borders">Until we get Married!</span></h3>
            <!-- countdown title /bot -->
          </div>
        </div>
        <!-- /Countdown Container -->
      </div>
      <!-- /content -->

      <div class="clearfix" style="border:1px dashed #fff; margin: 0px 3px; padding: 10px 5px;">
        <div class="row">
          <div class="col-xs-12">
            <!-- Section: About Us -->
            <div class="section-about-us">
              <!-- Title 1 -->
              <h1 class="title1 couple-title1">Attending?</h1>
              <%
                m1cls = "btn-default"
                m2cls = "btn-default"
                m3cls = "btn-default"
                if cookies[:att_status] == "1"
                  m1cls = "btn-success"
                elsif cookies[:att_status] == "2"
                  m2cls = "btn-success"
                elsif cookies[:att_status] == "3"
                  m2cls = "btn-success"
                end
              %>
              <div style="padding:10px 2px; text-align:center">
                <%=link_to mark_stat_path(:stat=>1),:class=>"btn #{m1cls} btn_att btn_1",:remote=>true do %>
                  <%=image_tag 'love.png',:style=>"margin-right:5px; height:18px;", :remote=>true%> YES
                <%end%>
                <%=link_to mark_stat_path(:stat=>2),:class=>"btn #{m2cls} btn_att btn_2", :remote=>true do %>
                  <%=image_tag 'confused.png',:style=>"margin-right:5px; height:18px;"%> MAYBE
                <%end%>
                <%=link_to mark_stat_path(:stat=>3),:class=>"btn #{m3cls} btn_att btn_3",:remote=>true do %>
                  <%=image_tag 'sad.png',:style=>"margin-right:5px; height:18px;"%> NO
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>


      <%=render "home/about"%>

      <%=render "home/ceramony"%>

      <%=render "home/gallery"%>

      <div style="background:#5c453f; color:#d6d4d4; font-size: 17px; padding:10px; font-weight:bold; text-align:center; margin-bottom:40px; margin-top:30px;">
        For more details contact:<br> 9113901948, 7026097300
      </div>

      <!-- footer -->
      <footer id="footer">
        <p class="footer-icon">
          <%=image_tag "ft-icon.png"%></p>
          <p class="quote-content">"When i saw you i fell in love, and you smiled because you knew."</p>
          <p class="quote-author">Willian Shakespeare</p>
          <audio loop class='player' volume="0.5">
            <source src="<%= asset_path 'valaga.mp3'%>">
          </audio>
      </footer>

      <div style="text-align:right; font-size:8px; color:#fff;">
        <span style="margin-right:3px;">Y-<%=WedAttender.where("status=1").count%></span>
        <span style="margin-right:3px;">M-<%=WedAttender.where("status=2").count%></span>
        <span style="margin-right:3px;">N-<%=WedAttender.where("status=3").count%></span>
      </div>

      <div style="background:#5c453f; color:#d6d4d4; font-size: 17px; padding:10px; font-weight:normal; text-align:center;">
        Created by - <a href="https:://www.kdkgowdas.com" target="_blank" style="color:#fff; text-decoration:underline;">www.kdkgowdas.com</a>
        <div style="font-size:13px; font-weight:normal;">
          For e-cards whatsapp @ <i class='fa fa-whatsapp'></i> 8088399377
        </div>

      </div>
      <!-- /footer -->
    </div>
  </div>
</div>
<!-- /Main Content
================================================== -->

<style type="text/css">
  .btn_att{
    padding: 5px 10px;
    margin: 0px 3px;
    font-weight: bold;
    border-radius: 2px;
  }
</style>
