<!-- Main Content
================================================== -->
<div id="body" class="viewport animated">
  <div class="container">
    <div class="boxed-content">
      <!-- Header -->
      <header id="header" class="navbar navbar-default navbar-static-top" >
        <div class="clearfix">
            <!-- logo -->
            <div class="hd-logo">
              <a href="index.html">
                <%=image_tag "logo_small.png"%>
              </a>
            </div>
            <!-- /logo -->
            <!-- responsive menu -->
            <!-- /responsive menu -->
            <!-- menu -->
            <div class="pause_cont">
              <%=image_tag "speaker.png",:style=>"width:60px;",:class=>"speaker",:spk=>"#{asset_path('speaker.png')}",:mute=>"#{asset_path('speaker_mute.png')}"%>
            </div>
            <!-- /menu -->
        </div>
      </header>
      <!-- /header -->
      <!-- content -->
      <div class="page-content page-home">
        <!-- home logo -->
        <div class="row">
          <div class="home-logo col-sm-8 col-sm-offset-2">
            <p class="couple-title" style="font-size:50px;">Manju & Deshi</p>
          </div>
        </div>
        <!-- /home-logo -->
        <!-- Countdown container -->
        <div class="row">
          <div class="countdown-container">
            <!-- icon -->
            <div class="countdown-icon">
              <%=image_tag "ico-heart2.png"%>
            </div>
            <!-- /icon -->
            <!-- countdown title top -->
            <h2 class="countdown-title countdown-title1"><span class="countdown-title-borders">November 03, 2019 <br> KVG SAMUDAYA BHAVAN, Sullia</span></h2>
            <!-- /countdown title top -->
            <!-- countdown ( Edit it on main.js )-->
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <div id="countdown" class="row"></div>
              </div>
            </div>
            <!-- /countdown -->
            <!-- countdown title bot -->
            <h3 class="countdown-title countdown-title2"><span class="countdown-title-borders">Until we get Married!</span></h3>
            <!-- countdown title /bot -->
          </div>
        </div>
        <!-- /Countdown Container -->
      </div>
      <!-- /content -->

      <%=render "home/about"%>

      <%=render "home/ceramony"%>

      <!-- footer -->
      <footer id="footer">
        <p class="footer-icon">
          <%=image_tag "ft-icon.png"%></p>
          <p class="quote-content">"When i saw you i fell in love, and you smiled because you knew."</p>
          <p class="quote-author">Willian Shakespeare</p>
          <audio loop class='player'>
            <source src="<%= asset_path 'valaga.mp3'%>">
          </audio>
      </footer>
      <!-- /footer -->
    </div>
  </div>
</div>
<!-- /Main Content
================================================== -->
