<!DOCTYPE html>
<html>
  <head>
    <title>Wedding</title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <title>Manju Weds Deshi</title>
    <link rel="apple-touch-icon" sizes="180x180" href="<%=asset_path('apple-touch-icon.png')%>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=asset_path('favicon-32x32.png')%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=asset_path('favicon-16x16.png')%>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" itemprop="image" content="http://www.manjuwedsdeshi.com<%=asset_path 'logo_small_og.png'%>">
    <meta property="og:type" content="website" />
    <link href='//fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148518570-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-148518570-1');
    </script>

  </head>

  <body>
    <!-- Page Loader
    ========================================================= -->
    <div class="loader" id="page-loader">
      <div class="loading-wrapper">
        <div class="loader-heart loader-heart1"><%=image_tag "intro-heart.png" %></div>
        <div class="loader-heart loader-heart2"><%=image_tag "intro-heart.png" %></div>
        <div class="loader-heart loader-heart3"><%=image_tag "intro-heart.png" %></div>
      </div>
      <div class="play_container">
        <i class='fa fa-play'></i>
        <div class="play_text">OPEN</div>
      </div>
    </div>
    <!-- /End of Page loader
    ========================================================= -->

    <!-- === PAGE BACKGROUND === -->
    <!-- Background container -->
    <div class="page-background-container viewport">
      <!-- background-mask -->
      <div class="bg-mask viewport"></div>
      <!-- /background-mask -->
      <!-- background-slideshow -->
      <div class="bg-slideshow">
        <!-- slideshow-item -->
        <div class="page-background viewport" style="background-image: url('<%= asset_path 'slide.jpg'%>')"></div>
        <!-- /slideshow-item -->
      </div>
      <!--/Background-slideshow -->
    </div>
    <!-- Background-container -->
    <!-- === /PAGE BACKGROUND === -->

    <%= yield %>
  </body>
</html>
